
* {

}

p {
    color: brown;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    /* margins */
    /* margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px; */

    /* top 10, bottom 50; left: 20 and right: 5 */
    margin: 10px 5px 50px 20px;
}

